#draggable {
    z-index: 100;
}

.droppable {
    /* border: 1px solid #ddd; */
    padding: 0;
}

.drop-hover {}

.console {
    color: green;
    bottom: 0;
}

.draggable {
    z-index: 90;
    cursor: pointer;
    box-shadow: 2px 2px 3px #999;
    border-radius: 35px;
}

.btn_ghost {
    position: absolute;
}

#btn-x1 {
    left: -1%;
    top: 52%;
}

#btn-x2 {
    right: -3%;
    top: 52%;
}

#btn-y1 {
    left: 55%;
    top: -1%;
}

#btn-y2 {
    left: 55%;
    top: 93%;
    /* bottom: 3%; */
}

.drag_v {
    position: absolute;
}

.card_3 {
    z-index: 10;
    /* border: 2px solid #bbb; */
    box-shadow: 4px 4px 0px #ddd, 8px 8px 0px #ccc, 12px 12px 0px #bbb;
    /*border: 1px solid #eee;
    box-shadow: 3px 3px 0px #ddd, 6px 6px 0px #ccc, 9px 9px 0px #bbb;*/
}

.card_2 {
    z-index: 10;
    /* border: 2px solid #bbb; */
    box-shadow: 4px 4px 0px #ddd, 8px 8px 0px #ccc;
    /*border: 1px solid #eee;
    box-shadow: 3px 3px 0px #ddd, 6px 6px 0px #ccc, 9px 9px 0px #bbb;*/
}

.card_1 {
    z-index: 10;
    /* border: 2px solid #bbb; */
    box-shadow: 4px 4px 0px #ddd;
    /*border: 1px solid #eee;
    box-shadow: 3px 3px 0px #ddd, 6px 6px 0px #ccc, 9px 9px 0px #bbb;*/
}

.card_0 {
    z-index: 10;
    /* border: 2px solid #bbb; */
    /*border: 1px solid #eee;
    box-shadow: 3px 3px 0px #ddd, 6px 6px 0px #ccc, 9px 9px 0px #bbb;*/
}

.stack {
    position: absolute;
    z-index: -1;
    width: 95.5%;
}

.interface_txt {
    margin-bottom: 15px;
    height: 230px;
    overflow: auto;
}

.card {
    background-color: white;
    border: 1px solid #DDD;
    padding: 0px 40px 50px 30px;
    border-radius: 8px;
    width: 90%;
}



@media (max-width: 560px) {
    .interface_txt {
        margin-bottom: 15px;
        height: 80px;
        overflow: auto;
    }
    .card {
        background-color: white;
        border: 2px solid #eee;
        padding: 0px 10px 0px 10px;
        border-radius: 8px;
        width: 100%;
        margin-bottom: 20px;
        font-size: 12px;
    }
    .instructionText {
        font-size: 12px;
        width: 110%
    }
    .btn-borre {
        margin-bottom: -15px;
    }
    .draggable {
        height: 40px;
    }
}

.grabbing {
    z-index: 99;
    cursor: move;
    /* fallback if grab cursor is unsupported */
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.MsgBox_bgr {
    background-color: rgba(0, 0, 0, 0.3);
}

.glow {
    box-shadow: 0px 0px 23px deepskyblue;
    border-radius: 40px;
}

.glyphicon-edit {
    font-size: 25px;
    padding: 10px;
    color: #888;
}

.drop_overlay {
    position: absolute;
    top: 0;
    left: 0;
}

input {
    min-width: 650px
}

.img-responsive {
    width: 100%;
}
